
.singUpForm{
    padding-top: 35px;
    font-family: 'Montserrat', sans-serif;
    height: 530px;
    width: 1520px;
    background-color: #f3efeb;
    display: flex;
    flex-direction: column;
    text-align: center;
 
}
.inpSign{
    height: 50px;
    width: 600px;
    margin-bottom: 12px !important;
}
.btnSn{
    margin-bottom: 12px !important;
    color: white !important;
    height: 52px !important;
    width: 602px !important;
    background-color: #2c241d !important; 
}
.checkBLike{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
}
.checkByour{
    font-size: 50px !important;
}

