@font-face {
    font-family: "moret";
    src: local("FontsFree-Net-moret4.ttf"), local("Moret Regular"),
        url("../../assets/fonts/FontsFree-Net-moret4.ttf") format("woff2");
}
body a {
    text-decoration: none imp !important;
    
}
.category-container {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    background-color: #f3efeb;
}
@media all and (max-width: 800px) {
    .category-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 1000px;
    }
}


.category-container a {
    text-decoration: none;
}
.men-big-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(../../assets/img/mainpage/category-men.jpeg);
    background-size: cover;
    background-position-y: -50px;
    cursor: pointer;
}

.women-big-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(../../assets/img/mainpage/category-women.jpeg);
    background-size: cover;
    cursor: pointer;
}

.category-btn {
    color: #f3efeb;
    font-size: 60px;
    font-family: "moret";
}
