@font-face {
    font-family: "moret";
    src: local("FontsFree-Net-moret4.ttf"), local("Moret Regular"),
        url("../../assets/fonts/FontsFree-Net-moret4.ttf") format("woff2");
}

.category-container {
    height: 630px;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.category-container a {
    text-decoration: none;
}
.men-big-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    min-width: 650px;
    background-image: url(../../assets/img/mainpage/category-men.jpeg);
    background-size: cover;
    background-position-y: -50px;
    cursor: pointer;
}
.women-big-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    min-width: 650px;
    background-image: url(../../assets/img/mainpage/category-women.jpeg);
    background-size: cover;
    cursor: pointer;
}

.category-btn {
    color: #f3efeb;
    font-size: 60px;
    font-family: "moret";
}
